body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background-color: #00828c;
  color: #fff;
}

.logo{
  font-size: 30px;
}
.nav-links{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}
.nav-links  li{
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
.mobile-menu-icon{
  display: none;
}

@media screen and (max-width:780px){
  .logo{
    display: flex;
    position: absolute;
    /* top: 10px;
    left: 35px; */
  }
  .nav-links{
    display: none;
  }
  /* .nav-links{
    position: absolute;
    display: block;
    list-style: none;
    background-color: #005469;
    left:0%;
    top:70px;
    width: 100%;
  } */
 
  /* .nav-links li{
      color: #fff;
      text-align: center;
      padding: 10px;
      width: 100%;
      left:50rem;
     transition: all 0.5s ease;
     margin-left: -1.2rem;
  } */
  .mobile-menu-icon {
    display: block;
    position: absolute;
    right: 1rem;
    font-size: 1.3rem;
  }

}