*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
a.navbar-brand{
    /* padding: 0px;
    margin: 0px; */
    border: none;
}
a.nav-link.active{
    /* border: none; */
    /* margin: 0px;
    padding: 0px; */
    background-color: none;
}
/* div{
    width: 50%;
    height: 300px;
}
.main{
    background-color: blue;
   
    top: 0px;
    position: relative;

}
.second{
    background-color: brown;
    position: absolute;
   
    top: 40px;
    height: 400px;
    margin-left: 200px;
} */